.general-css {
    overflow: hidden;
}

.menu {
    background-color: mediumpurple;
    display: inline-flex;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100%;
    height: 2.5em;
    align-items: center;
}

.menu-item {
    display: flex;
    flex-basis: 10em;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
    height: 100%;
}

div.menu-item:hover {
    background-color: paleturquoise;    
}

.emote-container {
    z-index: -1 !important;    
}
.widget-toggle {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

.url-builder-visibility-toggle {
    position: absolute;
    top: 7vh;
}

.emote-widget-url-builder {
    top: 10vh;
    width: 20vw;
    position: absolute;
    padding: 0.5em 0.5em 0.5em 0.5em;
    background-color: rgba(211, 211, 211, 0.4);
}
.required {
    color: red;
    position: absolute;
    top: -.5vh;
}
.url-options {
    padding: 0.15em;
}

.url-options-button {
    margin-top: 0.5em;
}

.url-result:hover {
    color:blue;
    text-decoration: underline;
    cursor: pointer;
}

.submit-and-result {
    display: inline-block;
    white-space: nowrap;
}

.physics-widget {
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.default-emote {
    position: absolute;
    width: 56px; 
    height: 56px; 
    background: url('https://cdn.betterttv.net/emote/5d3c7708c77b14468fe92fc4/2x');
}

.bounding-box {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: red;
}